  .admin-dashboard-root {
    width : 100%;
    height : 100%;
 }

  .admin-dashboard {
    padding: 20px;
    font-family: Arial, sans-serif;
    background : url("./assets/images/background1.jpg");
    overflow : auto;
    background-size: cover;
    height : calc(100vh - 100px);
  }
  
  .dashboard-header {
    display: flex;
    align-items: center;
    height: 50px;
    background : linear-gradient(to right, yellow, red);
  }
  
  .create-button {
    border: solid;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
<<<<<<< HEAD
    width: 98%;
    margin: 1%;
    border-color: #90ee90;
=======
    width: 25%;
    margin: 1%;
    border-color: #90ee90;
    float : right
>>>>>>> 63fd83e7d7a0cf4afeeecd47216a9deca71f7e9d
  }
  
  .create-button:hover {
    background-color: #45a049;
  }
  
  .task-list {
    margin-top: 20px;
    background-color: white
  }
  
  .task-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
  }

  .task-header {
    display: flex;
    width: 98%;
    justify-content: space-between;
    background-color: lightgray;
    font-weight: 700;
    padding: 1%;
  }

  .task-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
  }
  
  .task-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom : 1px solid black;
  }
  
  .task-details {
    margin-top: 10px;
  }
  
  .task-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .task-table th, .task-table td {
    text-align: left;
  }
  
  .task-table th {
    background-color: #f4f4f4;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: grey;
  }
  
  .pagination span {
    font-size: 16px;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border: 1px solid black;
    width : 30%;
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding : 2%;
  }
  
  .popup-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .popup-buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup-buttons button:first-child {
    background-color: #4CAF50;
    color: white;
  }
  
  .popup-buttons button:first-child:hover {
    background-color: #45a049;
  }
  
  .popup-buttons button:last-child {
    background-color: #f44336;
    color: white;
  }
  
  .popup-buttons button:last-child:hover {
    background-color: #e53935;
  }

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .navbar-brand{
    height : 45px;
    margin: 1%;
  }

  .navbar-brand-text
  {
    font-size: xxx-large;
    font-weight: 700;
  }

  .page-title {
    margin-left: auto;
    margin-right: auto;
    color: white;
  }

  .logout-button {
    background : url("./assets/images/logout.png");
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1%;
    border: none;
    margin: 1%;
  }

  .create-button-image {
    background : url("./assets/images/add.png");
    background-size: contain;
    background-repeat: no-repeat;
<<<<<<< HEAD
    padding: 2%;
    margin-right: 2%;
=======
    height: 50px;
    width: 50px;
  }

  .create-button-span {
    position: relative;
    top: -15px;
>>>>>>> 63fd83e7d7a0cf4afeeecd47216a9deca71f7e9d
  }

  .rounded {
    border-top: 4px dashed #bbb;
    width : 90%;
  }

  .actions-span {
      width : 10%;
   }

  .action-buttons-mainlist {
    cursor: pointer;
    padding: 10%;
    border: none;
    margin: 5%;
  }

  .action-buttons-sublist {
    cursor: pointer;
    padding: 5%;
    border: none;
    margin: 5%;
  }

   .view-button {
    background : url("./assets/images/eye.png");
    background-size : contain;
    background-repeat : no-repeat;
  }

  .delete-button {
    background : url("./assets/images/bin.png");
    background-size : contain;
    background-repeat : no-repeat;
  }

  .assign-button {
    background : url("./assets/images/assign.png");
    background-size : contain;
    background-repeat : no-repeat;
  }

  .edit-button {
    background : url("./assets/images/writing.png");
    background-size : contain;
    background-repeat : no-repeat;
  }

  .print-button {
    background : url("./assets/images/printing.png");
    background-size : contain;
    background-repeat : no-repeat;
  }

  .section-title {
    margin-left: 1%;
    margin-right: 1%;
    border-bottom: 4px solid black;
    color: blue;
  }

  .task-table-column {
    width : 20%;
  }

  .assignee-select {
  width : 30%;
  }

  .popup-header {
    background-color: white;
    margin: 0;
    padding: 2%;
  }

  .arrow {
    background : url("./assets/images/right.png");
    background-size : contain;
    background-repeat : no-repeat;
    width: 22px;
    height: 22px;
    transform: rotate(90deg);
  }

  .task-table-span {
    vertical-align: super;
  }

<<<<<<< HEAD
=======
  .pulse-button {
    /* Button default styles, customize them to match your button */
    display: inline-block;
    /* Apply the pulse animation */
    animation: pulse 1s infinite;
  }


  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

>>>>>>> 63fd83e7d7a0cf4afeeecd47216a9deca71f7e9d
  